.form{
    background: var(--ion-color-darkff);
    border-radius: 10px;
    padding: auto;
    padding-top: 10px;

    .itens{
        background: var(--ion-color-darkf);
        margin-bottom: 15px;
        width: 100%;
        padding-top: 15px;
        border-radius: 10px;
    }
}