<ion-header>
  <ion-toolbar color="orange">
    <img src="../../assets/LOGOQUEMDAMAIS.png" alt="quemDa+Logo" width="110px" class="ion-padding">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="darkf" class="ion-padding">
  <div class="ion-text-center">
    <h2>Seus Dados:</h2>
  </div>
  <form class="ion-text-center">
    <div class="form">
      <div>
        <ion-input type="text" name="cpf/cnpj" placeholder="Seu cpf/cnpj" [(ngModel)]="cpf_cnpj" readonly></ion-input>
      </div>
      
      <div>
        <ion-input type="text" name="nome" placeholder="Seu nome" [(ngModel)]="nome"></ion-input>
      </div>
      
      <div>
        <ion-input type="text" name="telefone" placeholder="Seu telefone" [(ngModel)]="telefone"></ion-input>
      </div>
      
      <div>
        <ion-input type="email" name="email" placeholder="Seu email" [(ngModel)]="email" readonly></ion-input>
      </div>
      
      <div>
        <ion-input type="text" name="endereco" placeholder="Seu endereço" [(ngModel)]="endereco"></ion-input>
      </div>
      
      <div>
        <ion-input type="text" name="link" placeholder="Seu link" [(ngModel)]="link"></ion-input>
      </div>
      
      <div>
        <ion-input type="password" name="senha" placeholder="Sua senha" [(ngModel)]="senha"></ion-input>
      </div>
      
      <div>
        <ion-input type="number" name="cod" placeholder="Confirme o código de validação atual" [(ngModel)]="cod"></ion-input>
      </div>

        <ion-button color="orange" shape="round" (click)="getInfoToUp(nome, telefone, endereco, link, senha, cod)">Atualizar</ion-button>
    </div>
  </form>
</ion-content>
