.form{
    background: var(--ion-color-orange);
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;

    .itens{
        background: var(--ion-color-darkff);
        margin-top: 10px;
        padding-top: 15px;
        border-radius: 20px;
    }
};